.Modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
}

.Modaloverlay--open {
    opacity: 1;
    pointer-events: all;
    
    
}
.modal-box{
    background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 480px;
  min-height: 249px;
  gap:24px;
  display:flex;
  flex-direction: column;
  padding:48px;
}
.modal-box h2{
    line-height: 32px;
    letter-spacing: -0.5px;
}
.modal-box p {
    letter-spacing: -0.1px;
    line-height: 22px;
    color: var(--color-blue-grey);

}

.modal-box div{
    text-align:right
}