/* invoices.css — mobile-first */

.main {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.main-content h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.125px;
    line-height: 1;
    margin: 0;
}

.main-content p {
    font-size: 13px;
    color: var(--color-grey);
    margin: 4px 0 0 0;
}

.heading-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.filter-btn {
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding: 5px;
}

.filter-btn img {
    padding-left: 8px;
}

.new-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: var(--color-purple);
    color: white;
    gap: 10px;
    font-size: var(--font-size-lg);
    font-weight: 800;
    padding: 18px 17px 15px 16px;
}

.plus {
    width: 32px;
    height: 32px;
    color: var(--color-purple);
    background-color: white;
    align-content: center;
    border-radius: 24px;
}

.invoice-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    max-width: 730px;
}

.new-desktop {
    display: none;
}

.new-mobile {
    display: block;
}

@media (min-width: 769px) {
    .main-content {
        padding-top: 75px;
        justify-content: space-around;
    }

    .new-desktop {
        display: block;
    }

    .new-mobile {
        display: none;
    }
}