.hero{
    display: block;

}
.hero-content{
    flex:1;
    padding:20px;
}

@media (min-width:769px ) {
    .hero{
       display:flex;
       min-height: 100vh;
       justify-content: space-between;
    }
}