.grid-container{
    width:100% ;
    height:72px;
    display:grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr;
    box-shadow: var(--shadow);
    background-color: var(--color-navy-light);
    border-radius: 8px;
    cursor: pointer;

}
.grid-item{
    padding:10px;
    align-content: center;
}
.col1{
    font-size:var(--font-size-lg);
    font-weight: bold;
    letter-spacing: -0.25px;
    justify-self:left;
}
.col1 span{
    color: var(--color-blue-grey);
}
.col2, .col3{
    color: var(--color-grey);
    font-size: 13px;
    letter-spacing: -0.1px; 
}
.col4{
    font-size:var(--font-size-lg);
    font-weight: bold;
    letter-spacing: -0.25px;
    justify-self:right;
}
.badge { 
    border-radius: 6px; 
    padding: 4px 12px; 
    font-weight: 700; 
    font-size: 15px;
    justify-self: center;
    align-self: center;

}
.badge--paid    { 
    color: #33D69F; 
    background-color: rgba(51, 214, 159, 0.06);
}
.badge--pending { 
    color: #FF8F00; 
    background-color: rgba(255, 143, 0, 0.06);
}
.badge--draft{ 
    color: #373B53; 
    background-color: rgba(223, 227, 250, 0.06);
}
.col6{
    justify-self: end;
}
