.grid-container{
    width:100% ;
    height:72px;
    display:grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1.2fr .5fr;
    box-shadow: var(--shadow);
    background-color: var(--color-navy-light);
    border-radius: 8px;
    cursor: pointer;

}
.grid-item{
    padding:10px;
    align-content: center;
}
.col1{
    font-size:var(--font-size-lg);
    font-weight: bold;
    letter-spacing: -0.25px;
    justify-self:left;
}
.col1 span{
    color: var(--color-blue-grey);
}
.col2, .col3{
    color: var(--color-grey);
    font-size: 13px;
    letter-spacing: -0.1px; 
}
.col4{
    font-size:var(--font-size-lg);
    font-weight: bold;
    letter-spacing: -0.25px;
    justify-self:right;
}

.col6{
    justify-self: end;
}
