.sidebar{
    display:flex;
    background-color: var(--color-navy);
    justify-content:space-between;
    flex-direction: row;
    height: 103px;
    width: 100%;
    align-items: center;
    z-index: 20;
}
.sidebar-logo{
      background-color: var(--color-purple);
      width: 103px;
      height: 103px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.sidebar-bottom{
    display:flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px; 
    align-items:center;
}
.logo{
    width: 40px;
}
.user{
    width: 40px;
    border-radius: 20px;
    margin:15px
}
.theme{
    width:20px;
    margin:15px
}
.sidebar-bottom hr{
    height: 103px;  
}
@media (min-width:769px ) {
    .sidebar{
        flex-direction: column;
        width: 103px;
        height: auto;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .sidebar-bottom{
        flex-direction: column;
    }
    .sidebar-bottom hr{
        width: 103px;
        height: auto;
    }
    
}
